.leaflet-container {
    background-color: white;
}

.map-container {
    height: calc(100vh - 60px - 80px - 7vh);
    width: calc(100vw - 300px - 1vw);
}

.map-style {
    background-color: white;
    fill-opacity: 1;
    stroke: black;
    stroke-width: 1;
}