:root {
    --sidebar-width: 300px;
    --apply-button-padding: 5px;
    --side-bar-background-color: #475492;
    --button-border-width: 2.5px;
    --nav-bar-height: 80px;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--side-bar-background-color);
    height: calc(100% - var(--nav-bar-height));
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
}

.sidebar>.body {
    min-width: var(--sidebar-width);
}

.sidebar>.body>*>.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #71ff1a;
    border: var(--button-border-width) solid black;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: var(--apply-button-padding);
    width: 80%;
    height: 60px;
}

.sidebar>.body>*>.button.apply:hover {
    background-color: #A0FF66;
}

.sidebar>.body>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    /* Make the button appear at the bottom */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
}