.sidebar {
    position: fixed;
    top: auto;
    left: auto;
    width: 35vh;
    height: 100vh;
    background: #475492;
    border-right: 2.5px solid black;
    overflow-y: auto;
}

.sidebar>.sidebar_body {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    /* Change height to dynamic */
    height: 90vh;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1vh;
}

.sidebar>.sidebar_body>.apply_button {
    width: auto;
    height: auto;
    background-color: #A0FF66;
    border: 2.5px solid black;
    text-align: center;
    font-size: 1.5vh;
}

.sidebar>.sidebar_body>.apply_button>a:link {
    text-decoration: none;
}

.sidebar>.sidebar_body>.apply_button:hover {
    background-color: #71ff1a;
}