:root {
    --slider-padding: 50px;
    --sidebar-slider-width: calc(var(--sidebar-width) - var(--slider-padding));

    --timescale-slider-width: calc(1600px - var(--slider-padding)); /* calc(100% - var(--sidebar-width) - var(--slider-padding)); */
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.name {
    height: 31px;
    line-height: 31px;
    margin: 0 0;
    font-size: large;
    font-weight: bold;
}

/* Sliders */
input[type="range"] {
    -webkit-appearance: none;
    min-width: var(--sidebar-slider-width);
    height: 7px;
    background: green;
    background-image: linear-gradient(#72ff18, #72ff18);
    background-repeat: no-repeat;
}

/* Timescale */
.timescale > .slider-container {
    width: calc(85% - var(--slider-padding));
}

.timescale > * > input[type="range"] {
    width: 100%;
}