.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.name {
    height: 31px;
    line-height: 31px;
    margin: 0 0;
    font-size: large;
    font-weight: bold;
}